<?xml version="1.0"?>

<model>
  <name>stewart</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Amy Pham</name>
    <email>apham@caltech.edu</email>
  </author>

  <description>
    A Stewart Platform. Hopefully, with some bouncing balls soon.
  </description>
</model>
